@import url(./variables.css);
@import url(./siteView/header.css);
@import url(./siteView/settings.css);

body {
  background-color: var(--black);
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
  margin: 10px auto;
}
.picture-container {
  height: 214px;
  overflow: hidden;
}
.picture {
  width: 380px;
  height: 214px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.bottom-bar {
  height: 50px;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-button {
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0;
  background: url("../assets/download.svg") center;
  background-color: var(--isabelline);
  background-size: cover;
}
@media screen and (max-width: 816px) {
  .picture {
    width: 100%;
  }
  .picture-container {
    width: 100%;
  }
}
